#popular-category {
  margin-top: 2rem;
  align-items: center;
  background-color: #fff0f3;
  padding: 1rem;
  border-radius: 20px;
  color: #9c6644;
  font-weight: 600;
  font-size: 1rem;
}

.popular-category-heading {
  text-align: center;
  margin: 2rem 0;
}

.popular-category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popular-category-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.popular-category-list > div:hover {
  background-color: #e6ccb2;
}

.popular-category-image {
  width: 150px;
  height: 80px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.popular-category-image img {
  width: 100%;
  height: 100%;
}
