#admin-dashboard {
  margin-top: 100px;
  /* min-height: 73vh; */
  margin-bottom: 40px;
}

#orders-count {
  background-color: #ffa200;
  color: #fff;
}

#products-count {
  background-color: #ef233c;
  color: #fff;
}

#customers-count {
  background-color: #00b4d8;
  color: #fff;
}

#revenue-count {
  background-color: #52b788;
  color: #fff;
}

.css-19kzrtu {
  padding: 0 !important;
}
