.products > h3 {
  margin: 50px 0 30px 0;
}
.product {
  border-radius: 10px;
  position: relative;
}
.product .image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  border-radius: 20px;
}

.product .image {
  background-color: #f2f2f2;
}

.product .title {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.product .title .name {
  font-size: 1.2rem;
}

.product .title .price {
  font-size: 1.2rem;
}

.product .ratings {
  display: flex;
}

.product .ratings .stars {
  color: #29bf12;
  margin-right: 5px;
}

.product .add-to-cart {
  display: inline-block;
  color: #b333e9;
  padding: 0.3rem 1.3rem;
  font-size: 0.9rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #b333e9;
}

.product .add-to-cart:hover {
  color: #fff;
  background-color: #b333e9;
}

.product .wish {
  position: absolute;
  top: 15px;
  left: 82%;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.product .wish:hover {
  color: #f21b3f;
}

.product .add-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product .view {
  text-decoration: none;
}
