.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 4em;
  padding: 0 60px !important;
  box-shadow: 0px -14px 20px 0px #000 !important;
}

.navbar .logo {
  color: #c041ff;
  font-weight: 500;
  font-size: 1.5rem;
}

#logo {
  width: 3rem;
}

#T,
#K {
  color: #6310b6;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product-search {
  background-color: #001f54;
  border-radius: 20px;
  color: #fff;
  display: flex;
  overflow: hidden;
}

.product-search form button {
  border: none;
  outline: none;
  color: #fff;
}

.product-search input::placeholder {
  color: #fff;
}

.product-search input {
  background-color: transparent;
  border: none;
  padding: 0rem 1rem;
  width: 200px;
  outline: none;
}

.product-search i {
  background-color: #00b4d8;
  padding: 0.7rem 1rem;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 300px; */
}

.nav-right div {
  margin-left: 20px;
}

.basic-navbar-nav {
  background-color: red !important;
}

/* .search-bar {
  background-color: #dee2e6;
  border-radius: 20px;
  padding: 0 1rem;
}
.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  padding: 0.5rem;
} */

.wish-cart {
  display: flex;
  align-items: center;
}

.wish-cart #wishlist {
  width: 1.3rem;
  margin-right: 4px;
}

.wish-cart > a {
  margin-right: 15px;
}

.cart {
  position: relative;
}

#cart {
  width: 2rem;
}

.cart-number {
  position: absolute;
  top: -7px;
  left: 20px;
  background-color: red;
  padding: 0 5px;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 50%;
}

@media (max-width: 991px) {
  .container {
    width: 100% !important;
  }

  .nav-right {
    display: flex !important;
    flex-direction: row !important;
    background: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 1rem !important;
    box-shadow: 0px 0px 30px -3px #6310b6 !important;
  }
}
