#product-details {
  margin-top: 90px;
  padding: 1rem 7rem;
  min-height: 70vh;
}

.row {
  height: 100%;
}

#gutter {
  --bs-gutter-x: 7.5rem !important;
}

.product-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.product-details {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 1rem;
}

.product-details .ratings {
  display: flex;
}

.product-price {
  border-bottom: 1px solid #d7d7d7;
  padding: 2rem 0;
}

.product-control-form {
  padding: 2rem 0;
  width: 100%;
}

.product-control-form .product-quantity {
  display: flex;
}

.choose-quantity button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  outline: none;
}

.product-buy-cart {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.product-buy {
  background-color: #b333e9;
  color: #fff;
  padding: 1rem 0;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
  flex-grow: 1;
  text-align: center;
}

.product-buy:hover {
  background-color: #6910a8;
  cursor: pointer;
}

.product-cart {
  color: #b333e9;
  border: 1px solid #b333e9;
  padding: 1rem 0;
  border-radius: 30px;
  text-align: center;
  flex-grow: 1;
  margin-left: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.product-cart:hover {
  background-color: #b333e9;
  color: #fff;
}

.product-reviews h3 {
  text-align: center;
}

.review {
  background-color: red;
}

.leave-review form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leave-review form textarea {
  width: 50%;
  height: 100px;
  padding: 1rem;
  margin: 20px;
}

.leave-review button {
  background-color: #25a244;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
}
